<div>
  <form name="questionForm" novalidate ng-submit="createQuestion(questionForm)">
    Question:
    <input type="text" name="title" ng-model="question.title" required />
    <button type="submit" class="btn btn-lg btn-success" ng-href="#">Create</button>
  </form>
  <p ng-show="questionForm.submitted && questionForm.$invalid">NOT ENOUGH DATA BLYAD!!!</p>
  <p>Last created questions:</p>
  <ul>
    <li ng-repeat="question in questions.models|limitTo:5"><a ui-sref="app.details({id: question.id })">{{ question.getTitle() }}</a></li>
  </ul>
</div>
