<div>
  <p class="lead">
    User: {{ user.attributes.name }}
  </p>
  <form name="questionForm" novalidate ng-submit="createQuestion(questionForm)">
    Question:
    <input type="text" name="title" ng-model="question.title" required />
    <button type="submit" class="btn btn-lg btn-success" ng-href="#">Create</button>
  </form>

  <p ng-show="questionForm.submitted && questionForm.$invalid">NOT ENOUGH DATA BLYAD!!!</p>
  <h2>LAST RESULT:</h2>
  <ul ng-show="data">
    <li>Name: {{ data.getTitle() }}</li>
    <li>User: {{ data.getUser().attributes.name }}</li>
    <li>Id: {{ data.id }}</li>
    <li>Created at: {{ data.createdAt|date:'short' }}</li>
  </ul>
</div>

<div>
  <p>Last created topazes:</p>
  <ul>
    <li ng-repeat="question in topazes|limitTo:5">Name: {{ question.getName() }}. Created at: {{ question.createdAt|date:'short' }}</li>
  </ul>
</div>
